[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ruts = "*"
fastapi = "*"
gunicorn = "*"
uvicorn = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pep8-naming = "*"
flake8-bugbear = "*"
flake8-builtins = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true